.section{
    width: 90%;
    padding: 25px 0px 25px 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    margin: auto;
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.15);
}
.iconContainer{
    width: 7%;
}
.iconContainer img{
    width: 100%;
}