
swiper-container {
}

swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

swiper-slide img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.swiper-pagination {
    display: none !important;
}
.crslSection{
    width: 90%;
    margin: auto;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.1em;
    margin-top: 2em;
    margin-bottom: 20px;
}
