@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
	--ff-primary: 'Poppins';

	--fs-100: 12px;
	--fs-200: 15px;
	--fs-300: 20px;
	
	--clr-primary: ;

	--clr-secondary: ;
}

*, 
*::after, 
*::before{
	box-sizing: border-box;
}
*{
	margin: 0%;
	padding: 0%;
	font: inherit;
}
html:focus-within{
	scroll-behavior: smooth;
}
html,
body{
	height: 100%;
}
body{
	text-rendering: optimizeSpeed;
	font-family: var(--ff-primary);
	color: black;
}
img,
svg,
picture{
	max-width: 100%;
	display: block;
}
ul,
ol{
	list-style: none;
}
a{
	text-decoration: none;
	color: black;
}
@media (prefers-reduced-motion: reduce){
	html:focus-within{
		scroll-behavior: auto;
	}
	*,
	*::after,
	*::before{
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/*Default Styles*/

h1{
	font-size: var(--fs-300);
	font-weight: 400;
}
h2{
	font-size: var(--fs-200);
	font-weight: 400;
}
h3{
	font-size: var(--fs-100);
	font-weight: 400;
}